In [1]:
alist = [1,2,3,4,5,6,7]
alist

[1, 2, 3, 4, 5, 6, 7]

In [6]:
alist.reverse()
print(alist)

[7, 6, 5, 4, 3, 2, 1]

In [1]:
name = ["Zeeshan" , "Osaf" , "Saad" , "Nouman" , "Yasir" , "Shehbaz"]
name

['Zeeshan', 'Osaf', 'Saad', 'Nouman', 'Yasir', 'Shehbaz']

In [2]:
len(name)

6

Operation of List
1. append()
2. extend()
3. insert()
4. remove()
5. pop()
6. slice
7. reverse()
8. len()
9. min() & max()
10. count()
11. concatenate
12. multiply
13. index()
14. sort()
15. clear()

In [3]:
num = [1,2,3,4,5,6,7,8]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8]

In [108]:
num.append(9) # append takes only one argument
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
num.extend([10,11,12]) # extend can take multiple values but int form of list like .extend([])
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [110]:
num.insert(3 , "Zeeshan") # insert operation adds value in a list where you want to add it takes index from the user 
                         # but like append it add only one value.
print(num)

[1, 2, 3, 'Zeeshan', 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [111]:
print(num[6])

6

In [112]:
print(num[2])

3

In [113]:
num.insert(6 , "Ali") # insert operation adds value in a list where you want to add it takes index from the user 
                         # but like append it add only one value.
print(num)

[1, 2, 3, 'Zeeshan', 4, 5, 'Ali', 6, 7, 8, 9, 10, 11, 12]

In [114]:
num.remove(7) # it also takes one argument at a time
print(num)

[1, 2, 3, 'Zeeshan', 4, 5, 'Ali', 6, 8, 9, 10, 11, 12]

In [115]:
num.pop(8)
print(num)

[1, 2, 3, 'Zeeshan', 4, 5, 'Ali', 6, 9, 10, 11, 12]

In [69]:
num.clear()
print(num)

[]

In [117]:
# to find min and max value in a list

min(num)

TypeError: '<' not supported between instances of 'str' and 'int'

In [116]:
print(num)

[1, 2, 3, 'Zeeshan', 4, 5, 'Ali', 6, 9, 10, 11, 12]

# Slicing

In [ ]:
# Slicing is always done in Left to Right direction
# There is no error even if you right wrong slice  but returns empty list
# slice returns copy

In [77]:
print(num[:4])      # prints from beginning to end index

[1, 2, 3, 'Zeeshan']

In [78]:
print(num[2:])        # prints from start index to end of list

[3, 'Zeeshan', 4, 5, 'Ali', 6, 9, 10, 11, 12]

In [79]:
print(num[2:6])      # prints from start index to end index

[3, 'Zeeshan', 4, 5]

In [80]:
print(num[:])       # prints from beginning to end of list

[1, 2, 3, 'Zeeshan', 4, 5, 'Ali', 6, 9, 10, 11, 12]

In [4]:
print(num[1:9:2])

[2, 4, 6, 8]

In [7]:
numbers = [11,22,33,44,55,66,77,88,99,100]
numbers

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [10]:
numbers[3:-1]

[44, 55, 66, 77, 88, 99]

In [12]:
id(numbers) # id shows the address of variable in the computer memory

1683756553736

# Reversing a list

In [60]:
fruits = ["Mango" , "Apple" , "Cherry" , "Banana" , "Strawberry" , "Orange"] # defining a list
print(fruits)

['Mango', 'Apple', 'Cherry', 'Banana', 'Strawberry', 'Orange']

In [63]:
# Method no. 1

fruits.reverse()
print(fruits)

['Orange', 'Strawberry', 'Banana', 'Cherry', 'Apple', 'Mango']

In [83]:
# Method no. 2

print(fruits[::-1])

['Mango', 'Apple', 'Cherry', 'Banana', 'Strawberry', 'Orange']

In [89]:
print(len(fruits))

6

# min() and max()

In [118]:
a = [1,2,3,4,5,6,7,8,44,33,66,22]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 44, 33, 66, 22]

In [119]:
min(a)

1

In [120]:
max(a)

66

In [121]:
fruits

['Orange', 'Strawberry', 'Banana', 'Cherry', 'Apple', 'Mango']

In [122]:
max(fruits)

'Strawberry'

In [123]:
min(fruits)

'Apple'

In [124]:
b = [1,2,1,3,2,3,4,3,4,2,5,3,7,6,7,4,5,6,5]
print(b)

[1, 2, 1, 3, 2, 3, 4, 3, 4, 2, 5, 3, 7, 6, 7, 4, 5, 6, 5]

# Count

In [125]:
b.count(1)

2

In [126]:
b.count(3)

4

In [130]:
b.count(5)

3

In [131]:
fruits

['Orange', 'Strawberry', 'Banana', 'Cherry', 'Apple', 'Mango']

In [134]:
# to count the number of characters in each word

[len(i) for i in fruits]

[6, 10, 6, 6, 5, 5]

In [136]:
# to count the all characters in a list

sum(len(i) for i in fruits)

38

# List Concatenation

In [139]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 44, 33, 66, 22]

In [140]:
print(b)

[1, 2, 1, 3, 2, 3, 4, 3, 4, 2, 5, 3, 7, 6, 7, 4, 5, 6, 5]

In [141]:
c = a + b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 44, 33, 66, 22, 1, 2, 1, 3, 2, 3, 4, 3, 4, 2, 5, 3, 7, 6, 7, 4, 5, 6, 5]

In [144]:
x = ["a" , "b" , "c" , "d" , "e"]
y = ["f" , "g" , "h" , "i"]

for i in y :
    x.append(i)
print("Concatenated lists are: " + str(x))

Concatenated lists are: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

# List Multiply

In [145]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 44, 33, 66, 22]

In [150]:
print(a*2) # it will iterate the list values  times

[1, 2, 3, 4, 5, 6, 7, 8, 44, 33, 66, 22, 1, 2, 3, 4, 5, 6, 7, 8, 44, 33, 66, 22]

In [161]:
z = [8,7,6,5,4,3,2,1]
z.sort()
print(z)

[1, 2, 3, 4, 5, 6, 7, 8]

In [164]:
vowels = ['i' , 'e' , 'a' , 'u' , 'o']
vowels.sort()
print("Sorted Vowels : " + str(vowels))

Sorted Vowels : ['a', 'e', 'i', 'o', 'u']

In [165]:
vowels = ['i' , 'e' , 'a' , 'u' , 'o']
vowels.sort()
print("Sorted Vowels : " , vowels)

Sorted Vowels :  ['a', 'e', 'i', 'o', 'u']

In [1]:
# Sorting in decending order

vowels = ['a', 'e', 'i', 'o', 'u']
vowels.sort(reverse=True)
print(vowels)

['u', 'o', 'i', 'e', 'a']

# For Loop in list

In [3]:
x = ["Zeeshan" , 5 , 6.5 , 'Ali']
print(x)

['Zeeshan', 5, 6.5, 'Ali']

In [3]:
for i in x :
    print(i)

Zeeshan
5
6.5
Ali

In [4]:
for i in "Zeeshan" :
    print(i)

Z
e
e
s
h
a
n

In [5]:
for i in ["Moni" , 56 , 3.5] :
    print(i)

Moni
56
3.5

In [6]:
cities = ["Beijing" , "New York" , "Islamabad" , "Murree"]

for city in cities :
    print(city)

Beijing
New York
Islamabad
Murree

In [7]:
for x in enumerate(cities) :
    print(x)

# Sometimes, you may want to access indexes of elements inside the loop. In these cases, you can use the enumerate() function.
# The enumerate() function returns a tuple that contains the current index and element of the list.

(0, 'Beijing')
(1, 'New York')
(2, 'Islamabad')
(3, 'Murree')

In [9]:
for index , city in enumerate(cities) :
    print(f"{index}: {city}")

0: Beijing
1: New York
2: Islamabad
3: Murree

In [10]:
for index , city in enumerate(cities , 1) : # you can also give the starting value in enumerate function
    print(f"{index}: {city}")

1: Beijing
2: New York
3: Islamabad
4: Murree

In [17]:
alist = [1,2,3,4,5]
size = len(alist)
# print(size)

for i in range(size) :
    alist[i] = alist[i] + 1
print(alist)

[2, 3, 4, 5, 6]

In [4]:
print(x)

['Zeeshan', 5, 6.5, 'Ali']

In [6]:
for i in x :
    if "Zeeshan" == i :
        print("True")
    else :
        print("False")

True
False
False
False

# List Comprehension

In [2]:
# Simple List Example

h = []

for i in "Human" :
    h.append(i)
print(h)

['H', 'u', 'm', 'a', 'n']

In [5]:
h = [letter for letter in "Human"] # [expression for variable in iterator]
print(h)

['H', 'u', 'm', 'a', 'n']

In [7]:
# lets print table of 2

table = [x*2 for x in range(10)]
print(table)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
table = [x*3 for x in range(1 , 11)]
print(table)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [13]:
# lets suppose we have a list of a 

a = [1, 3, 5, 7, 9, 13]
print(a)

# but I want a list which doubles the list a like [2,6,10,14,18,26]
# lets get this output using List Comprehension

[1, 3, 5, 7, 9, 13]

In [12]:
b = [x*2 for x in a]
print(b)

[2, 6, 10, 14, 18, 26]

In [15]:
# lets find the square of number using simple list

a1 = []
for i in range(1,7) :
    a1.append(i**2)
print(a1)

[1, 4, 9, 16, 25, 36]

In [16]:
# now lets do the same above example using list comprehension

b1  = [x**2 for x in range(1,7)]
print(b1)

[1, 4, 9, 16, 25, 36]

In [18]:
# now lets find the cube in reverse direction using simple list like [125 , 64 , 27 , 8 , 1]
c1 = []
for i in range(8 , 0 , -1) :
    c1.append(i**3)
print(c1)

[512, 343, 216, 125, 64, 27, 8, 1]

In [19]:
# now lets do the same using list comprehension

d1 = [i**3 for i in range(8,0,-1)]
print(d1)

[512, 343, 216, 125, 64, 27, 8, 1]

In [20]:
# now lets find even number using simple list

f1 = []
for i in range(20) :
    if i % 2 == 0 :
        f1.append(i)
print(f1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
# now lets do the same using list comprehension

g1 = [x for x in range(30) if x % 2 == 0]
print(g1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [22]:
# now lets find the odd number

h1 = []
for i in range(30) :
    if i % 2 != 0 :
        h1.append(i)
print(h1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [23]:
# now lets do the same using list comprehension

i1 = [x for x in range(30) if x % 2 != 0]
print(i1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [24]:
# now lets find the multiples of 2 and 5

j1 = []
for i in range(100) :
    if i % 2 == 0 :
        if i % 5 == 0 :
            j1.append(i)
print(j1)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [27]:
# now lets do the same using list comprehension

k1 = [a for a in range(200) if a % 2 == 0 if a % 5 == 0]
print(k1)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190]

In [31]:
# lets find even and odd using another method

l1 = []
for i in range(20) :
    if i % 2 == 0 :
        print(f"{i}: Even")
    else :
        print(f"{i}: Odd")

0: Even
1: Odd
2: Even
3: Odd
4: Even
5: Odd
6: Even
7: Odd
8: Even
9: Odd
10: Even
11: Odd
12: Even
13: Odd
14: Even
15: Odd
16: Even
17: Odd
18: Even
19: Odd

In [36]:
# lets solve the above example using list comprehension 

m1 = [f"{x}: Even" if x % 2 == 0 else f"{x}: Odd" for x in range(20)]
print(m1)

['0: Even', '1: Odd', '2: Even', '3: Odd', '4: Even', '5: Odd', '6: Even', '7: Odd', '8: Even', '9: Odd', '10: Even', '11: Odd', '12: Even', '13: Odd', '14: Even', '15: Odd', '16: Even', '17: Odd', '18: Even', '19: Odd']

In [8]:
# now lets print the table of any number after getting value from the user

for i in range(1,11) :
    x = [int(input("Enter number"))]
    x.insert(x , 'x' , i , '=' , x*i)
print(x)

Enter number3

TypeError: insert() takes exactly 2 arguments (5 given)

In [1]:
# Multiplication table (from 1 to 10) in Python

num = 12

for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [1]:
num = int(input("Display Multiplication table of: "))
for i in range(1,11) :
    print(num , 'x' , i , '=' , num * i)

Display Multiplication table of: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [7]:
# Now put take multiple values from the user and use them in list/lists using split() method

numbers = input("Enter multiple values: ").split(',')
evens = []
odds = []
for num in numbers :
    if int(num) % 2 == 0 :
        evens.append(f"Even = : {num}")
    else :
        odds.append(f"Odd = : {num}")
print(evens)
print(odds)

Enter multiple values: 1,2,3,4
['Even = : 2', 'Even = : 4']
['Odd = : 1', 'Odd = : 3']