In [1]:
alist = [1,2,3,4,5,6,7]
alist

[1, 2, 3, 4, 5, 6, 7]

In [6]:
alist.reverse()
print(alist)

[7, 6, 5, 4, 3, 2, 1]

In [1]:
name = ["Zeeshan" , "Osaf" , "Saad" , "Nouman" , "Yasir" , "Shehbaz"]
name

['Zeeshan', 'Osaf', 'Saad', 'Nouman', 'Yasir', 'Shehbaz']

In [2]:
len(name)

6

Operation of List
1. append()
2. extend()
3. insert()
4. remove()
5. pop()
6. slice
7. reverse()
8. len()
9. min() & max()
10. count()
11. concatenate
12. multiply
13. index()
14. sort()
15. clear()

In [107]:
num = [1,2,3,4,5,6,7,8]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8]

In [108]:
num.append(9) # append takes only one argument
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
num.extend([10,11,12]) # extend can take multiple values but int form of list like .extend([])
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [110]:
num.insert(3 , "Zeeshan") # insert operation adds value in a list where you want to add it takes index from the user 
                         # but like append it add only one value.
print(num)

[1, 2, 3, 'Zeeshan', 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [111]:
print(num[6])

6

In [112]:
print(num[2])

3

In [113]:
num.insert(6 , "Ali") # insert operation adds value in a list where you want to add it takes index from the user 
                         # but like append it add only one value.
print(num)

[1, 2, 3, 'Zeeshan', 4, 5, 'Ali', 6, 7, 8, 9, 10, 11, 12]

In [114]:
num.remove(7) # it also takes one argument at a time
print(num)

[1, 2, 3, 'Zeeshan', 4, 5, 'Ali', 6, 8, 9, 10, 11, 12]

In [115]:
num.pop(8)
print(num)

[1, 2, 3, 'Zeeshan', 4, 5, 'Ali', 6, 9, 10, 11, 12]

In [69]:
num.clear()
print(num)

[]

In [117]:
# to find min and max value in a list

min(num)

TypeError: '<' not supported between instances of 'str' and 'int'

In [116]:
print(num)

[1, 2, 3, 'Zeeshan', 4, 5, 'Ali', 6, 9, 10, 11, 12]

# Slicing

In [77]:
print(num[:4])      # prints from beginning to end index

[1, 2, 3, 'Zeeshan']

In [78]:
print(num[2:])        # prints from start index to end of list

[3, 'Zeeshan', 4, 5, 'Ali', 6, 9, 10, 11, 12]

In [79]:
print(num[2:6])      # prints from start index to end index

[3, 'Zeeshan', 4, 5]

In [80]:
print(num[:])       # prints from beginning to end of list

[1, 2, 3, 'Zeeshan', 4, 5, 'Ali', 6, 9, 10, 11, 12]

In [82]:
print(num[1:9:2])

[2, 'Zeeshan', 5, 6]

# Reversing a list

In [60]:
fruits = ["Mango" , "Apple" , "Cherry" , "Banana" , "Strawberry" , "Orange"] # defining a list
print(fruits)

['Mango', 'Apple', 'Cherry', 'Banana', 'Strawberry', 'Orange']

In [63]:
# Method no. 1

fruits.reverse()
print(fruits)

['Orange', 'Strawberry', 'Banana', 'Cherry', 'Apple', 'Mango']

In [83]:
# Method no. 2

print(fruits[::-1])

['Mango', 'Apple', 'Cherry', 'Banana', 'Strawberry', 'Orange']

In [89]:
print(len(fruits))

6

# min() and max()

In [118]:
a = [1,2,3,4,5,6,7,8,44,33,66,22]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 44, 33, 66, 22]

In [119]:
min(a)

1

In [120]:
max(a)

66

In [121]:
fruits

['Orange', 'Strawberry', 'Banana', 'Cherry', 'Apple', 'Mango']

In [122]:
max(fruits)

'Strawberry'

In [123]:
min(fruits)

'Apple'

In [124]:
b = [1,2,1,3,2,3,4,3,4,2,5,3,7,6,7,4,5,6,5]
print(b)

[1, 2, 1, 3, 2, 3, 4, 3, 4, 2, 5, 3, 7, 6, 7, 4, 5, 6, 5]

# Count

In [125]:
b.count(1)

2

In [126]:
b.count(3)

4

In [130]:
b.count(5)

3

In [131]:
fruits

['Orange', 'Strawberry', 'Banana', 'Cherry', 'Apple', 'Mango']

In [134]:
# to count the number of characters in each word

[len(i) for i in fruits]

[6, 10, 6, 6, 5, 5]

In [136]:
# to count the all characters in a list

sum(len(i) for i in fruits)

38

# List Concatenation

In [139]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 44, 33, 66, 22]

In [140]:
print(b)

[1, 2, 1, 3, 2, 3, 4, 3, 4, 2, 5, 3, 7, 6, 7, 4, 5, 6, 5]

In [141]:
c = a + b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 44, 33, 66, 22, 1, 2, 1, 3, 2, 3, 4, 3, 4, 2, 5, 3, 7, 6, 7, 4, 5, 6, 5]

In [144]:
x = ["a" , "b" , "c" , "d" , "e"]
y = ["f" , "g" , "h" , "i"]

for i in y :
    x.append(i)
print("Concatenated lists are: " + str(x))

Concatenated lists are: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

# List Multiply

In [145]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 44, 33, 66, 22]

In [150]:
print(a*2) # it will iterate the list values  times

[1, 2, 3, 4, 5, 6, 7, 8, 44, 33, 66, 22, 1, 2, 3, 4, 5, 6, 7, 8, 44, 33, 66, 22]

In [161]:
z = [8,7,6,5,4,3,2,1]
z.sort()
print(z)

[1, 2, 3, 4, 5, 6, 7, 8]

In [164]:
vowels = ['i' , 'e' , 'a' , 'u' , 'o']
vowels.sort()
print("Sorted Vowels : " + str(vowels))

Sorted Vowels : ['a', 'e', 'i', 'o', 'u']

In [165]:
vowels = ['i' , 'e' , 'a' , 'u' , 'o']
vowels.sort()
print("Sorted Vowels : " , vowels)

Sorted Vowels :  ['a', 'e', 'i', 'o', 'u']

In [167]:
# Sorting in decending order

vowels = ['a', 'e', 'i', 'o', 'u']
vowels.sort(reverse=True)
print(vowels)

['u', 'o', 'i', 'e', 'a']