# Variable for Numbers

In [1]:
a = 20
# a is a variable (identifier)
# = assignment operator
# 20 is a value

In [3]:
print(a)
type(a)

20

int

In [6]:
a = 20.67
print(a)
type(a)

# Now the previous value is over writed and the type is also changed

20.67

float

In [9]:
city = "Faisalabad"
print(city)
type(city)

Faisalabad

str

In [11]:
# we can also give some other datatypes values to the same variable like

city = 56
print(city)
type(city)

# Now the value of City variable is changed as well as its datatype

56

int

In [14]:
# two different values of different datatypes can not be assigned to a single variable like

std_name = "Anwar"
new_value = std_name + 7
print(new_value)

# look at Type Error

TypeError: can only concatenate str (not "int") to str

In [65]:
first_name = "Zeeshan" 
last_name = "Ali"

print(first_name + last_name)
print(first_name + " " + last_name) # if you want to give a space between the names

ZeeshanAli
Zeeshan Ali

In [67]:
a = '23'
b = '56'

print(a + b)

# in string the + sign perform the concatenation function

2356

In [2]:
x = 8
y = x + 7
z = y - x + 1
print(z)

8

In [3]:
x = 12 - 4 / 2 + 9 * 5
print(x)

55.0

In [4]:
x = ((12 - 4) / (2 + 9) * 5)
print(x)

3.6363636363636367

In [5]:
x = 10
y = x % 3
print(y)

1

In [6]:
f = 10
f = 12
print(f)

12

In [7]:
g = 5
g = g + 2
print(g)

7

In [8]:
a = 3
a += 3
print(a)

6