# Assignment-Operators

In [1]:
 # operators {+ , - , * , / , // , += , -= , *= , /= , //= , %= , **= , &= , 
 #            |= , ^= , >>= , <<= ,  }

In [2]:
num1 = 12
num2 = 34

sum = num1 + num2
print(sum)

46

In [3]:
num1 = 12
num2 = 34

sum = num1 - num2
print(sum)

-22

In [4]:
num1 = 12
num2 = 34

sum = num1 * num2
print(sum)

408

In [5]:
num1 = 50
num2 = 5

sum = num1 / num2
print(sum)

# Python by default do a floating division means the answer will always be a float vallue
# But if you want to get answer in Integer and not in float then write // instead of / like

10.0

In [6]:
num1 = 50
num2 = 5

sum = num1 // num2
print(sum) 

# // discards the decimal and decimal values like in other example

10

In [7]:
num1 = 78
num2 = 34

sum = num1 // num2
print(sum)

2

In [8]:
x = 12
x += 34

print(x)

# in this operator it will first add the value then will assign it

46

In [9]:
y = 12
y =+ 34

print(y)

#But in this it has first saved the value of num2 showed it because print it.

34

In [10]:
y = 78
y -= 34

print(y)

44

In [11]:
y = 12
y =- 34

print(y)

-34

In [12]:
y = 12
y /= 34

print(y)

0.35294117647058826

In [13]:
y = 564
y //= 34

print(y)

16

In [14]:
y = 12
y *= 34

print(y)

408

In [15]:
y = 79
y %= 34

print(y)

11

In [16]:
y = 12
y **= 34

print(y)

4922235242952026704037113243122008064

In [17]:
y = 12
y &= 34

print(y)

0

In [18]:
y = 12
y |= 34

print(y)

46

In [19]:
y = 12
y ^= 34

print(y)

46

In [20]:
y = 12
y >>= 34

print(y)

0

In [21]:
y = 12
y <<= 34

print(y)

206158430208

# Comparison-Operator

In [22]:
# { == , != , > , < , >= , <= }