In [1]:
# Tuple is used to assign multiple values into a single variable just like list but Tuple is immutable

In [2]:
a = ('Zeeshan' , 12 , "Pakistan" , 34.56)
a

('Zeeshan', 12, 'Pakistan', 34.56)

In [3]:
# We can not add , delete , remove etc the values in tuple because it is immutable

In [5]:
# But we can retrieve value from the tuple like

In [9]:
# it has only two functions "count and index"

In [6]:
a[1]

12

In [7]:
a.count(12)

1

In [8]:
a.index('Pakistan')

2

In [11]:
a[::-1] # reversing the tuple

(34.56, 'Pakistan', 12, 'Zeeshan')

In [12]:
# we can add list in a tuple

b = ("Pakistan" , [12,23,33,44] , ["Ali" , "Nasir" , 45.45])
b

('Pakistan', [12, 23, 33, 44], ['Ali', 'Nasir', 45.45])

In [13]:
b[1][2]

33

In [14]:
c = (50,)
c

(50,)

In [21]:
# swapping two tuples

tuple1 = (11 , 44 , 66)
tuple2 = (55.67 , 22 , 99.65 , 34)

tuple1 , tuple2 = tuple2 , tuple1

print(tuple1)
print(tuple2)

(55.67, 22, 99.65, 34)
(11, 44, 66)

In [18]:
a1 = ("Zeeshan" , 34 , "Ali")
a2 = (23 , "Moaz" , 33 , "Ali")
a3 = ('Pakistan' , 'Beautiful' , 56.78)

a1 , a2 , a3 = a3 , a2 , a1
print(a1)
print(a2)
print(a3)

('Pakistan', 'Beautiful', 56.78)
(23, 'Moaz', 33, 'Ali')
('Zeeshan', 34, 'Ali')

In [23]:
# Copy specific elements from one tuple to a new tuple

tuple1 = (12,33,44,55,66,77,88)
tuple2 = tuple1[3:-1]
print(tuple2)

(55, 66, 77)

In [24]:
# Modify the tuple

tuple1 = (11,[22,33,44],55,66)
tuple1[1][2] = 34
print(tuple1)

(11, [22, 33, 34], 55, 66)

In [33]:
# Write a Python program to add an item in a tuple.

tuple1 = (1,4,23,6,74)
tuple1

(1, 4, 23, 6, 74)

In [34]:
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple

tuple1 = tuple1 + (22,)
tuple1

(1, 4, 23, 6, 74, 22)

In [35]:
# we can also add values in the tuple by converting it into list/dictionary 

tuple1 = (88 , 34 , "Zeeshan" , 98)
tuple1

(88, 34, 'Zeeshan', 98)

In [36]:
# first convert it into a list
listx = list(tuple1)
listx.append("Ali")
listx

[88, 34, 'Zeeshan', 98, 'Ali']

In [37]:
# then again convert it into a tuple
tuple1 = tuple(listx)
tuple1

(88, 34, 'Zeeshan', 98, 'Ali')

In [40]:
# Write a Python program to check whether an element exists within a tuple.

tuple1 = (1,3,5,'d','e','e','e','t')
print('e' in tuple1)
print(5 in tuple1)
print('x' in tuple1)

True
True
False

In [41]:
# Write a Python program to remove an item from a tuple.
# this is also can be done by converting a tuple into a list

tuple1 = ("ali" , 22 , 34 , "Zeeshan" , 'f' , 'e' , 't' , 'w')
tuple1

('ali', 22, 34, 'Zeeshan', 'f', 'e', 't', 'w')

In [43]:
# now we will convert a tuple into list

listx = list(tuple1)
listx

['ali', 22, 34, 'Zeeshan', 'f', 'e', 't', 'w']

In [44]:
# now we will remove a value from the list

listx.remove('Zeeshan')
listx

['ali', 22, 34, 'f', 'e', 't', 'w']

In [45]:
# now we will convert the list into tuple again

tuple1 = tuple(listx)
tuple1

('ali', 22, 34, 'f', 'e', 't', 'w')

In [47]:
# slicing a tuple
tuple1[3:-1]

('f', 'e', 't')